#elightInput {
	margin: 3px;
}

#elightInput > div {
	z-index: 11;
	position: absolute;
	left: 40px;
	top: 10px;
	display: inline;
}

#elightSearchInput {
	width: 150px;
	border-style: solid;
	border-color: black;
	background-color: #FFEBF1;
}

#elightOutput > div {
	z-index: 10;
	position: absolute;
	left: 40px;
	top: 33px;
	display: inline;
}

#elightResults {
	background: #FFF9FA;
	border: 1px solid black;
	height: 300px;
	width: 300px;
	border-style: solid;
	padding: 2px;
}

.elightResult {
	font-family: Arial,Helvetica,Sans-serif; 
	font-size: 10pt;
	padding-bottom: 5px; 
	padding-top: 5px;
	
	border-bottom: 1px solid grey;
}

.elightContents {
	background-color: #F7EFEF;
}
.elightTitle, .elightTitle a {
	font-size: 10.5pt;
	font-weight: bolder;
	text-decoration: underline;
	color: black;
}

.elightTitle a:visited {
	
	color: #DDA8A9;
}

.elightUrl {
	color: green;
}

.elightMessage {
	
	padding: 10px;
	color: #AB1908;
}